.root {
    -fx-background-image: url("/images/dark-background.png");
}

.colour-button {
    -fx-background-color: rgba(104, 43, 215, 1);
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

#titleLabel {
    -fx-text-fill: white;
}

.primary-button {
    -fx-background-color: rgba(104, 43, 215, 1);
    -fx-text-fill: white;
}

.primary-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.1), 15, 0.5, 0, 0);
}

.primary-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #661ec3, #4a138c);
}

.primary-button .label {
    -fx-text-fill: white;
}

.secondary-button {
    -fx-text-fill: white;
}

TextField {
    -fx-text-fill: white;
}

TextField Label {
    -fx-text-fill: rgba(255, 255, 255, 0.6);
}

.metric-select Label {
    -fx-text-fill: white;
}

.metric-select HBox Label {
    -fx-text-fill: white;
}

.metric-select HBox CheckBox {
    -fx-text-fill: white;
}

.time-scale Label {
    -fx-text-fill: white;
}

/* Chart Styles */
.axis {
    -fx-tick-label-fill: white;
}

.axis-label {
    -fx-text-fill: white;
}

.chart-axis {
    -fx-tick-mark-stroke: white;
}

.chart-title {
    -fx-text-fill: white;
}

.chart-axis-label {
    -fx-text-fill: white;
}
.chart-legend-item {
    -fx-text-fill: white;
}
