.root {
    -fx-alignment: center;
    -fx-padding: 0px 270px;
    -fx-font-family: "Roboto Regular";
}

.theme-button {
    -fx-font-size: 36px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

VBox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.top-bar {
    -fx-padding: 20px 0px;
}

.main-container {
    -fx-max-width: 600px;
    -fx-max-height: 400px;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 25px;
    -fx-spacing: 60;
    -fx-padding: 50px 20px;
    -fx-alignment: center;
    -fx-border-color: rgba(0, 0, 0, 0.4);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 25, 0.2, 0, 4);
    -fx-border-radius: 25px;
    -fx-border-width: 1px;
}

#titleLabel {
    -fx-font-size: 64;
    -fx-font-family: "Roboto Bold";
}

.primary-button {
    -fx-font-size: 24px;
    -fx-background-radius: 10px;
    -fx-padding: 10px 30px;
    -fx-cursor: hand;
}

.primary-button .label {
    -fx-font-size: 24px;
}

.secondary-button {
    -fx-background-color: rgba(153, 153, 153, 1);
    -fx-font-size: 18px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 20px;
    -fx-cursor: hand;
}

TextField {
    -fx-background-color: rgba(201, 201, 201, 0.2);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-font-size: 18px;
    -fx-padding: 5px;
}

PasswordField {
    -fx-background-color: rgba(201, 201, 201, 0.2);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-font-size: 18px;
    -fx-padding: 5px;
}

TextField Label {
    -fx-font-size: 18px;
}

PasswordField Label {
    -fx-font-size: 18px;

}

.metric-select Label {
    -fx-font-size: 24px;
}

.metric-select HBox Label {
    -fx-font-size: 16px;
}

.metric-select HBox CheckBox {
    -fx-font-size: 16px;
}

.time-scale Label {
    -fx-font-size: 20px;
}

/* Chart Styles */

.axis-label {
    -fx-font-size: 14px;
}

.chart-axis {
    -fx-tick-label-font-size: 14px;
}

.chart-axis-label {
    -fx-font-size: 14px;
}

.chart-legend {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 10px;
    -fx-border-color: rgba(0, 0, 0, 0.4);
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}

.chart-legend-item {
    -fx-font-size: 16px;
}

.login-field {
    -fx-font-size: 22px;
}